* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rodape {
    margin: 0 auto;
    width: 95%;
    padding-top: 170px;
    background-color: #6a6a6a;
    color: #ffffff;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: #383435;
    padding: 10px 0px 10px 0px
}

.menu li {
    text-align: center;
}

.headerlink {
    color: #ffffff;
    text-decoration: none;
}

.headerlink:hover {
    text-decoration: underline;
}

.principal {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secao {
    padding: 0px;
    width: 68%;
    margin-top: 25px;
    color: #ffffff;
}

.img {
    height: 330px;
    width: 450px;
    background-color: white;
}



.titulo_destaque {
    width: 100%;
    padding: 15px 30px 15px 30px;
    background-color: #383435;
}

p {
    font-size: 21px;
}

li {
    font-size: 21px;
    color: #383435;
}

h1 {
    font-size: 30px;
}

#destaques {
    font-size: 40px;
}

#destaques2 {
    font-size: 35px;
}

.section_destaque {
    padding: 25px 30px 25px 30px;
    width: 100%;
    color: #ffffff;
    background-color: #6a6a6a;
    display: flex;
}

.layout_destaque {
    padding: 0px 0px 0px 20px;
    width: 55%;
    margin: 0 auto;
}

.secao2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
}

.programacao {
    width: 49%;
}

.titulo_programacao {
    width: 100%;
    background-color: #383435;
    padding: 10px 20px 10px 20px;
}

.section_programacao {
    background-color: #6a6a6a;
    padding: 10px 20px 10px 20px;
}

.webdesign {
    width: 49%;
    background-color: #383435;
}

.titulo_webdesign {
    width: 100%;
    background-color: #383435;
    padding: 10px 20px 10px 20px;
}

.leia_mais,
.leia_mais1 {
    margin: 10px 0px 15px 0px;
    background-color: #c2c2c2;
    border: transparent;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
    font-size: 17px;
}

.leia_mais1 {
    margin: 15px 0px 0px 0px;
}

.leia_mais:hover,
.leia_mais1:hover {
    background-color: #383435;
    color: #ffffff;
    cursor: pointer;
}

.mais_artigos ul {
    padding: 0px 20px 0px 20px;
}

#mais_artigos {
    background-color: #383435;
    text-align: center;

}

.art_destaque {
    padding-bottom: 10px;
    font-weight: bold;
}

.ladopag {
    width: 30%;
    margin-top: 25px;
    background-color: #6a6a6a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#digite_o_termo {
    width: 95%;
    height: 40px;
    margin-top: 20px;
    font-size: 24px;
}

#digite_o_termo::placeholder {
    font-size: 24px;
    text-align: center; 
}

.mais_lidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.titulo_mais_lidos {
    background-color: #383435;
    width: 90%;
    padding: 15px 25px 15px 25px;
}

.lista_mais_lidos {
    background-color: #ffffff;
    color: black;
    width: 90%;
}

.lista_mais_lidos a {
    color: #999999
}

.lista_mais_lidos ul {
    padding: 25px 40px 25px 50px;
}

.imagens_aside {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;

}

.img2 {
    margin-top: 40px;
    height: 14rem;
    width: 14rem;
    background-color: white;
}

.cabecalho {
    margin: 0 auto;
    width: 95%;
    margin-top: 20px;
    background-color: #6a6a6a;
    padding: 10px 25px 10px 25px;
    color: #ffffff;

}

.headerlink2 {
    color: #ffffff;
    text-decoration: none;
}

.headerlink2:hover {
    text-decoration: underline;
    cursor: pointer;
}

#webmaster {
    text-decoration: none;
    color: #ffffff;
}

#webmaster:hover {
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
}